<ul class="nav nav-pills nav-stacked">
  <li class="{% if active = "profile" %}active{% endif %}"><a class="" href="/profile/">Profile<i class="pull-right {% if active = "profile" %}icon-white{% endif %}icon-chevron-right"></i></a></li>
  <li class="{% if active = "password" %}active{% endif %}"><a class="" href="/profile/password">Password<i class="pull-right {% if active = "password" %}icon-white{% endif %}icon-chevron-right"></i></a></li>
  <li class="{% if active = "notifications" %}active{% endif %}"><a class="" href="/profile/settings">Notifications<i class="pull-right {% if active = "notifications" %}icon-white{% endif %}icon-chevron-right"></i></a></li>
  <li class="{% if active = "image" %}active{% endif %}"><a class="" href="/profile/image">Profile Photo<i class="pull-right {% if active = "image" %}icon-white{% endif %}icon-chevron-right"></i></a></li>
  <li class="{% if active = "services" %}active{% endif %}"><a class="" href="/profile/connect">Services<i class="pull-right {% if active = "services" %}icon-white{% endif %}icon-chevron-right"></i></a></li>
</ul>
