{% extends "base.html" %}

{% block pageTitle %}Password Settings{% endblock %}

{% block pagenav %}
 <li class=''><a href="/profile/">Profile</a></li>
 <li class=''><a href="/profile/connect">Connected Accounts</a></li>
 <li class=''><a href="/profile/settings">Email</a></li>
 <li class='selected'><a href="/profile/password">Password</a></li>
{% endblock %}

{% block content %}
<div class="row-fluid">
  <div class="span3">
    {% include "profile/_nav.html" with active="password" %}
  </div>

  <div class="span9">
    <form class="form-horizontal well" method="post" class="" action="{{ request.path }}" accept-charset="UTF-8">
      {{ xsrf_form_html|safe }}

      <fieldset>
        <legend>Password</legend>

        <div class="control-group {% if errors.password_old %}error{% endif %}">
          <label class="control-label" for="password_old">Old Password</label>
          <div class="controls">
            <input type="password" class="input-xlarge" id="password_old" name="password_old" value="{{ password_old }}"/>
            {% if errors.password_old %}<span class="help-inline">{{ errors.password_old.0 }}</span>{% endif %}
          </div>
        </div>

        <div class="control-group {% if errors.password %}error{% endif %}">
          <label class="control-label" for="password">New Password</label>
          <div class="controls">
            <input type="password" class="input-xlarge" id="password" name="password" value="{{ password }}"/>
            {% if errors.password %}<span class="help-inline">{{ errors.password.0 }}</span>{% endif %}
          </div>
        </div>

        <div class="control-group {% if errors.password_again %}error{% endif %}">
          <label class="control-label" for="password_again">New Password Again</label>
          <div class="controls">
            <input type="password" class="input-xlarge" id="password_again" name="password_again" value="{{ password_again }}"/>
            {% if errors.password_again %}<span class="help-inline">{{ errors.password_again.0 }}</span>{% endif %}
          </div>
        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </fieldset>
    </form>

  </div>
</div>
{% endblock %}
