{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block content_header %}Welcome{% endblock %}

{% block content %}
  <h1 class="search_header">Latest Snippets</h3>
  <div class="snippet_list">
    {% for snippet in snippet_list %}
      {% include "snippet/_snippet_item.html" %}
    {% endfor %}
  </div>
{% endblock %}

{% block sidebar %}
<div class="well">
  <p>Welcome to <a href="http://www.djangosnippets.org/">Djangosnippets.org</a>, a site for users of the <a href="http://www.djangoproject.com/">Django web framework</a> to come together and share useful "snippets" of reusable code.</p>

  <p>If you're just here to browse, you can look through snippets organized <a href="/users/">by author</a>, <a href="/languages/">by language</a> or <a href="/tags/">by tag</a>. You can also have a look at the <a href="/popular/rated/">top-rated snippets</a> and the <a href="/popular/bookmarked/">most-bookmarked snippets</a>.</p>

  <p>If you'd like to contribute, <a href="/accounts/register/">sign up for a free account</a> and you'll be able to post snippets of your own, rate and bookmark snippets, and post comments. If you've got any questions, have a look at our <a href="/about/faq/">FAQ</a>.</p>

  <p><a rel="alternate" href="/feeds/latest/" type="application/atom+xml"><img src="{{ handler.settings.static_url }}img/feed-icon-10x10.png" alt="" /> Feed of latest snippets</a></p>

  <p><a href="http://readthedocs.org/">Find documentation</a> for popular open source apps</p>
</div>

{% endblock %}
