{% extends "base.html" %}

{% block content %}

<form class="form-horizontal well" method="post" class="" action="{{ request.uri }}" accept-charset="UTF-8">
   {{ xsrf_form_html|safe }}

   <fieldset>
     <legend>Please enter a new password</legend>

     <div class="control-group {% if errors.password %}error{% endif %}">
       <label class="control-label" for="password">Password</label>
       <div class="controls">
         <input type="password" class="input-xlarge" id="password" name="password" value=""/>
         {% if errors.password %}<span class="help-inline">{{ errors.password.0 }}</span>{% endif %}
       </div>
     </div>

     <div class="control-group {% if errors.password_again %}error{% endif %}">
       <label class="control-label" for="password_again">Password Again</label>
       <div class="controls">
         <input type="password" class="input-xlarge" id="password_again" name="password_again" value=""/>
         {% if errors.password_again %}<span class="help-inline">{{ errors.password_again.0 }}</span>{% endif %}
       </div>
     </div>

   </fieldset>

     <div class="form-actions">
       <button type="submit" class="btn btn-primary">Update Password</button>
     </div>
   </fieldset>
</form>
{% endblock %}
